.dreamjobs{
    height: 60vh;
    background-color: #1967d3;
    font-family: sans-serif;
    text-align: center;
}
.dreamjobs h1{
    padding-top: 8vw;
    color: white;
    line-height: 3vw;
}
.dreamjobs p{
    color: rgba(255, 255, 255, 0.74);
    line-height: 3vw;
    margin-bottom: 2vw;
}
a{
    text-decoration: none;
}
.dream-btn{
    margin-left: 1vw;
}
.search-job{
    background-color: white;
    color: #1967d3;
    padding: .5vw;
    border-radius: 10px;
}
.apply-job{
    background-color: #d35d19;
    color: aliceblue;
    padding: .5vw;
    border-radius: 10px;
}